<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IOOP_Assignment.Properties.Settings.IOOPassignmentConnectionString"
            connectionString="Data Source=LAPTOP-RVIF06QM;Initial Catalog=IOOPassignment;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="IOOP_Assignment.Properties.Settings.DB_IOOP_AssignmentConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DB_IOOP_Assignment.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="IOOP_Assignment.Properties.Settings.DB_IOOP_AssignmentConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\bin\Debug\DB_IOOP_Assignment.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>